.homePage {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-size: cover;
  min-height: 80vh;
}

.header {
  width: 100%;
  background-color: #a1000e;
  color: white;
  text-align: center;
  padding: 1rem;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.body-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin-top: 2rem;
  padding: 0 2rem;
}

.Block {
  background-color: black;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 20px;
}

.RedSquare {
  width: 300px;
  height: 300px;
  margin: 30px;
  background-color: #a1000e; /* Couleur rouge foncé */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: transform 0.2s;
}

.Block:hover {
  transform: scale(1.05);
}

.Image {
  color: white;
  font-size: 4rem;
  font-weight: bold;
}

.Explanation {
  color: white;
  font-size: 1.5rem;
  text-align: center;
}
